main {
  padding: 36px;
}

.meme--image {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  height: 80px;
}

header > h2 {
  margin-right: auto;
  padding-left: 20px;
  font-size: 1.25rem;
}

header > img {
  padding-left: 20px;
  width: 70px;
}

header > h4 {
  padding-right: 30px;
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  font-family: 'Karla', sans-serif;
}

.form--button {
  grid-column: span 2;
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
