@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

.grey {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
}

.card {
  width: 260px;
  font-size: 22px;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.hero--image {
  display: block;
  margin: 50px auto;
}

.hero--text {
  padding: 0 36px;
}

.hero--text > p{
  max-width: 860px;
  font-size: 40px;
}

.hero--text h1 {
  font-size: 90px;
}

nav {
  height: 110px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7px rgba(0,0,0,.1);
}
